html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/**
* Interface
*/

.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: "Bebas Neue", cursive;
}

/*
* Timer
*/
.time {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 6vh;
    background: #00000033;
    padding-top: 5px;
    text-align: center;
}

/*
* Restart
*/
.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

/*
*   Controls
*/

.controls {
    position: absolute;
    bottom: 8%;
    left: 0;
    width: 100%;
    background: #24242427;
    padding: 3rem;
}

.controls .control-container {
    display: flex;
    height: 100px;
    flex-direction: row;
}

.controls .control-container .raw {
    display: flex;
    justify-content: center;
}

.controls .key {
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #000000;
    background: #ffffff44;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .key.large {
    width: 144px;
}

.controls .key.active {
    background: #00000049;
}

.side-keys {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.controls .side-keys .raw {
    justify-content: start;
}
